@import url("/styles/general.css");

.first--section {
  margin-top: 140px;
  position: relative;
}
.first--section .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.behind--text {
  position: absolute;
  font-size: 200px;
  color: #f8f8fa;
  font-weight: 800;
  top: -90px;
  left: 203px;
}

.first--section__col1,
.first--section__col2 {
  flex: 1;
  z-index: 5;
}
.first--section__col1 p {
  font-size: 16px;
  font-weight: 800;
  color: #51acfb;
  letter-spacing: 0.09em;
  position: relative;
}
.first--section__col1 p::before {
  content: "";
  display: inline-block;
  background-color: #51acfb;
  width: 50px;
  height: 2px;
  margin-right: 20px;
  position: relative;
  top: -3px;
}
.first--section__col1 h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 55px;
  margin-top: 12px;
}
.first--section__col2 {
  margin-top: 44px;
  position: relative;
}
.first--section__col2 p {
  font-size: 16px;
  line-height: 27px;
}
.first--section__col2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #51acfb;
  margin: 33px 0 0 0;
}

/* Images Container */

.first--section__images--cont {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 60px;
}
.first--section--img__box {
  position: relative;
  width: 450px;
  height: 100%;
}
.first--section--img__box img {
  width: 100%;
}
.box--inner__div {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #fff;
  width: 80%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.box--inner__div h3 {
  color: var(--dark--blue--color);
  font-size: 30px;
  font-weight: 600;
}
.box--inner__div p {
  color: var(--light--blue--color);
  font-size: 16px;
  margin-top: 5px;
}

/* Rate Section */

.rate--section {
  padding: 60px 0;
}
.rate--section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate--section h2 {
  color: #000;
  font-size: 64px;
}

#rate--first__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rate--first__div h4 {
  margin: 1rem 0;
  font-size: 28px;
  font-weight: normal;
}
.rate--stars {
  font-size: 40px;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.five__reviews--div {
  width: 200px;
  height: 20px;
  background: rgb(240, 240, 240);
  position: relative;
}

.five__reviews--div::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background: #ffea00;
}
.five__reviews--div {
  margin: 0 30px;
}

.second__review .five__reviews--div::after {
  width: 6%;
}

.second__review p {
  margin-right: 10px;
}

.third__review .five__reviews--div::after {
  width: 3%;
}
.third__review p,
.fourth__review p {
  margin-right: 23px;
}

.fourth__review .five__reviews--div::after {
  width: 00%;
}

.fifth__review .five__reviews--div::after {
  width: 00%;
}
.fifth__review p {
  margin-right: 31px;
}
